<!-- Welcome -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!--Body content-->
            <h3 class="lead">Bentornato <span class="text-danger"><%= name %></span></h3>
            <p>
                Ciao <b><%= name %></b>, questa è la tua area riservata.
            </p>
            <p>
                Da qui potrai gestire il tuo <a href="#it/profile">profilo</a> ed i tuoi <a href="#it/site">website</a>
            </p>
            <br>
            <p>
                <span class="label label-success">ATTENZIONE!</span>&nbsp;<b>Prima di iniziare</b> ti consiglio di leggere i seguenti consigli su come <b>ottimizzare</b> la <b>navigazione</b> e la <b>gestione</b> dei tuoi website
            </p>

            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                inserimento nuovo website da monitorare
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Per <b>inserire</b>b> un nuovo website da monitorare devi prima di tutto <b>inserire la url</b> del tuo sito</p>
                            <p>clicca sul bottone <b>salva</b></p>
                            <p><span class="label label-danger">IMPORTANTE</span> copia ed incolla il codice di monitoraggio nel tuo <b>website</b></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                modifica e cancellazione segnalazioni
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Puoi <b>modificare</b> il website oggetto di monitoraggio in qualsiasi momento anche a distanza di tempo</p>
                            <p>Puoi sempre <b>cancellare</b> la tua segnalazione (o le tue segnalazioni)</p>
                            <p><span class="label label-danger">IMPORTANTE</span> L'operazione di cancellazione sarà <b>irreversibile</b></p>
                            <p><span class="label label-info">MEMO</span> Per modificare o cancellare una segnalazione accedi a questo <a href="#it/site">link</a></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                gestione profilo
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Sul tuo account personale (profilo) potrai fare le seguenti operazioni:</p>
                            <p>
                                <ul class="list-unstyled">
                                    <li><b>modifica</b> dei dati del profilo - <span class="label label-info">MEMO</span> accedi a questo <a href="#it/profile">link</a></li>
                                    <li><b>cancellazione</b> dei dati del profilo - <span class="label label-info">MEMO</span> accedi a questo <a href="#it/profile">link</a></li>
                                    <li><b>modifica</b> della password personale - <span class="label label-info">MEMO</span> accedi a questo <a href="#it/password">link</a></li>
                                    <li><b>richiesta</b> di una nuova password qualora l'avessi dimenticata - <span class="label label-info">MEMO</span> accedi a questo <a href="#it/resend">link</a></li>
                                </ul>
                            </p>
                            <p><span class="label label-danger">IMPORTANTE</span> L'operazione di cancellazione sarà <b>irreversibile</b></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
