<!-- Site -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!--Body content-->
            <h3 class="lead">Gestisci i tuoi <span id='redcolor'>website</span></h3>

            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">

                    <h5>i tuoi website</h5>
                    <ul class="nav bs-sidenav" id="siteList">
                    </ul>
                    <br>
                    <button type="button" id="newSiteButton" class="btn btn-warning">nuovo website</button><br>

                </div>

                <div class="col-lg-4">

                    <form id="siteForm" method="post" class="form-horizontal" role="form">

                        <div id='sitefield'>

                            <div class="form-group has-warning">
                                <label for="_id" class="col-sm-4 control-label">client_id</label>
                                <div class="col-sm-8">
                                    <input type='text' name='_id' id='_id' placeholder='client_id' class='form-control' readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tag" class="col-sm-4 control-label">descrizione</label>
                                <div class="col-sm-8">
                                    <input type='text' name='tag' id='tag'  placeholder='tag' class='form-control' />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="website" class="col-sm-4 control-label">website</label>
                                <div class="col-sm-8">
                                    <input type='text' name='website' id='website'  placeholder='website' placeholder='sito web' value='' class='form-control' />
                                </div>
                            </div>

                            <div class="form-group has-warning">
                                <label for="tracking" class="col-sm-4 control-label">tracking code</label>
                                <div class="col-sm-8">
                                    <textarea rows='3' name='tracking' id='tracking' placeholder='tracking code' class='form-control' onclick='this.select()' readonly></textarea>
                                </div>
                            </div>

                        </div>

                        <div id='buttonfield'>
                            <button type="submit" id="siteButton" class="btn btn-success">salva</button>
                            <button type="button" id="deleteSiteButton" class="btn btn-danger">cancella</button>
                        </div>
                        <br>

                    </form>

                </div>

            </div>

        </div>
    </div>
</div>