<!-- Credits -->
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <img src="css/img/logo.png" class="img-responsive">
            <p class='text-muted'>
                <span class="label label-warning">Dev & Social</span><br><br>
                <img src="css/img/etrusco_32_trasparente.png"> Designed and built with all the love in the world by <a href='http://www.pensando.it/wp/chi-sono' target='_blank'>@etrusco</a><br><br>
                <img src="css/img/twitter_32.png"> Follow <a href='http://twitter.com/darkroomlocator' target='_blank'>@darkroomlocator</a> on twitter<br>

                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-annotation="inline" data-width="300"></div>
                <br><br>
                <!-- Place this tag where you want the widget to render. -->
                <div class="g-page" data-width="292" data-href="//plus.google.com/111635347702149948772" data-layout="landscape" data-rel="publisher"></div>

                <!-- Place this tag after the last widget tag. -->
                <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>

                <br><br>
                <span class="label label-info">Tech Spec</span><br><br>
                data base - <a href='http://www.mongodb.org/' target='_blank'>mongoDB</a> | <a href='http://mongoosejs.com/' target='_blank'>mongoose.js</a> | <a href='https://www.mongohq.com/home' target='_blank'>mongoHQ</a><br>
                server side - <a href='http://nodejs.org/' target='_blank'>node.js</a> | <a href='http://expressjs.com/' target='_blank'>express.js</a> | <a href='https://www.heroku.com/' target='_blank'>heroku</a><br>
                client side - <a href='http://jquery.com/' target='_blank'>jquery</a> | <a href='http://backbonejs.org/' target='_blank'>backbone.js</a> | <a href='http://twitter.github.io/bootstrap/index.html' target='_blank'>twitter bootstrap</a> | <a href='https://developers.google.com/maps/?hl=it' target='_blank'>google maps</a><br>
            </p>
        </div>
    </div>
</div>
