<!-- Site -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!--Body content-->
            <h3 class="lead">Gestisci i tuoi <span id='redcolor'>website</span></h3>

            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">

                    <h5>i tuoi website</h5>
                    <ul class="nav bs-sidenav" id="siteList">
                    </ul>
                    <br>
                    <button type="button" id="newSiteButton" class="btn btn-warning">nuovo website</button><br>

                </div>

                <div class="col-lg-4">

                    <form id="siteForm" method="post">

                        <div id='sitefield'>
                            <input type='text' name='_id' id='_id' placeholder="id" class="form-control" readonly /><br/>
                            <input type="text" name="website" id="website" placeholder="sito web" value="" class="form-control" /><br/>
                            <textarea rows="3" name="tracking" id="tracking" placeholder="tracking code" class="form-control" onclick="this.select()"></textarea><br/>
                        </div>

                        <div id='buttonfield'>
                            <button type="submit" id="siteButton" class="btn btn-success">salva</button>
                            <button type="button" id="deleteSiteButton" class="btn btn-danger">cancella</button>
                        </div>
                        <br>

                    </form>

                </div>

            </div>

        </div>
    </div>
</div>