<!-- footer -->
<div id="footer">
    <div class="container">
        <p class="text-muted credit">Designed and built with all the love in the world by <a href="http://www.pensando.it/wp/index.php/chi-sono" target="_blank">@etrusco</a></p>
        <p class="text-muted credit"><a href="mailto:darkroomlocator@analogica.it">Contact</a> | <a href="http://www.analogica.it" target="_blank">analogica.it</a> | <a href="http://www.iubenda.com/privacy-policy/687835" target="_blank">Privacy Policy</a> | <a href="#it/credits">Credits</a> | <span class="label label-info"><span id='version'></span></span></p>
    </div>
</div>