<!-- footer -->
<div id="footer">
    <div class="container">
        <p class="text-muted credit">Designed and built with all the love in the world by <a href="http://www.pensando.it/wp/index.php/chi-sono" target="_blank">@etrusco</a></p>
        <p class="text-muted credit"><a href="mailto:ademarchi74@gmail.com">Contact</a> | <a href="http://www.pensando.it" target="_blank">pensando.it</a> | Privacy Policy | <a href="#it/credits">Credits</a> | <span class="label label-info"><span id='version'></span></span></p>
    </div>
</div>