<!-- Dashboard -->
<div class="container-fluid">
    <div class="row tile_count">
        <div class="col-lg-6">

            <!-- content -->
            <div class="container-fluid">
                <div class="row">
                    <h3>connection</h3>
                    <p>connected to <span id='con' class="text-danger"></span> - day : <span id='day' class="text-danger"></span> - page view : <span id='pageView' class="text-danger">0</span> - unique access : <span id='uniqueAccess' class="text-danger">0</span> - total page : <span id='totalPage' class="text-danger">0</span></p>
                </div>
                <div class="row">
                    <h3>today's best pages</h3>
                    <div class="col-xs-3">
                        <input type='text' class="form-control" name='numRows' id='numRows' placeholder="how many row?" /><br/>
                    </div>
                </div>
                <div class="row">
                    <ol id='bestPages'></ol>
                </div>
                <div class="row">
                    <h3>realtime log</h3>
                    <ul id='log' class="list-unstyled"></ul>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <!-- content -->
            <div class="container-fluid">
                <div class="row">
                    <h3>stat</h3>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <input type='text' class="form-control" name='statDay' id='statDay' placeholder='how many day?' />
                    </div>
                </div>
                <div class="row">
                    <div id="graph"></div>
                </div>

        </div>

    </div>
</div>